@model VariationCategoryViewModel
@{
    ViewData["Title"] = "Create";
}
<div class="col-md-7 mx-auto grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" asp-action="create" method="post">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label asp-for="PostDto.VariationId" class="form-label">Variation</label>
                        <br>
                        <select asp-for="PostDto.VariationId" asp-items="new SelectList((List<VariationGetDto>)Model.Variations,nameof(VariationGetDto.Id),nameof(VariationGetDto.Name))">
                        </select>
                        <span asp-validation-for="PostDto.VariationId"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="PostDto.CategoryId" class="form-label">Category</label>
                        <br>
                        <select asp-for="PostDto.CategoryId" class="form-select" asp-items="new SelectList((List<CategoryGetDto>)Model.Categories,nameof(CategoryGetDto.Id),nameof(CategoryGetDto.Name))">
                        </select>
                        <span asp-validation-for="PostDto.CategoryId"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-action="index" asp-controller="variationcategories" class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>
