@model RolePostDto
@{
    ViewData["Title"] = "Create";
}
<div class="col-md-6 mx-auto grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" asp-action="EditRole" method="post">
                <input readonly asp-for="Id"/>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control text-light" asp-for="Role">
                        <span class="text-light" asp-validation-for="Role"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-action="roleindex" asp-controller="users" class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>



