@model UserGetDto
@{
    ViewData["Title"] = "Index";
}

<section id="profile">
    <div class="row d-flex justify-content-between px-5">
        <h4>Profile</h4>
        <h4>
            <a asp-action="index" asp-controller="home">Go Home</a> / User Profile
        </h4>
    </div>
</section>
<div class="px-5" style="background-color: #191c24">
<section id="profile-detail">
    <div class="py-4">
        <h3>@Model.Fullname</h3>
        <p>Roles:
            @foreach (var item in Model.Roles)
                {
                    <span>@item</span>
                }
        </p>
        <p>Email: @Model.Email</p>
        <p>PhoneNumber: @Model.PhoneNumber</p>
    </div>
</section>
<section>
  <div>
        <h4><a asp-action="roleindex">Go to all exist roles</a> (Create and edit roles)</h4>
        <h4><a asp-action="indexadmin">Go to all exist admins</a>(Create and edit admins)</h4>
        <h4><a asp-action="getallmembers">Go to all exist users</a></h4>
        <h4><a asp-action="changepassword">Change Password</a></h4>
  </div>

</section>
</div>

