@model SettingPostDto
@{
    ViewData["Title"] = "Edit";
}

<div class="col-md-6 mx-auto grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" asp-action="edit" asp-controller="settings" method="post">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">@Model.Key</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control text-light bg-dark" readonly asp-for="Key">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">@Model.Value</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control text-light" asp-for="Value">
                        <span class="text-danger" asp-validation-for="Value"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-action="index" asp-asp-controller="setting" class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>
