@model CategoryPostDto
@{
    ViewData["Title"] = "Edit Category";
}
<div class="col-md-6 mx-auto grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" asp-action="edit" method="post">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">@Model.Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control text-light" asp-for="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-action="index" asp-controller="categories" class="btn btn-dark" >Cancel</button>
            </form>
        </div>
    </div>
</div>
